<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <div class="container animated bounceInLeft about">
        <h1><strong class='display-4'>Movie</strong> App
            <%= %>
        </h1>
        <p class='lead'>A simple web app built with Express and EJS view template engine.</p>
        <small class='secondary'>v1.0.0</small>
        <div class="d-block">
            <div class='animated bounceInUp delay-1s'>
                <small class='secondary'>Built & Maintained By: <strong>Sina Keshmiri</strong></small>
                <a href="https://github.com/" target="_blank"><span class="badge badge-warning">Github</span></a>
                <a href="https://www.linkedin.com/in/sina-keshmiri-046670a2/" target="_blank"><span class="badge badge-info">Linkedin</span></a>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>