<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body class='back-image'>

    <div class="container text-center welcomeBox">
        <h1 class='display-1 animated bounceInUp' id='headWelcome'><span class='text-success'>Movie</span><span class='text-dark'>App</span></h1>
        <p class='animated bounceInDown text-dark'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
            tempora sed earum autem optio magni libero id asperiores minus at amet omnis atque vel ipsam, ex in dolorum
            veritatis accusamus!</p>
    </div>
    <div class="container text-center">
        <a href="/home" class='btn btn-dark text-light btn-bg animated bounceInDown' id='button'>Let's get started</a>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src='js/moveBackground.js'></script>
    <script src='js/responsive.js'></script>
</body>

</html>