<div class="mt-2">
 <h1>Idea NotePad</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit mollitia minima quisquam perspiciatis voluptates eius libero. Tempore minus voluptatibus fugiat aliquam voluptatum dolor nostrum vitae consequatur, mollitia debitis quos ipsum.</p>
  <div class="d-inline-block">
   <h4><span class='badge badge-warning'><a href="#">Gitgub</a></span></h4>
  </div>
  <div class="d-inline-block">
   <h4><span class='badge badge-info'><a href="#">Linkedin</a></span></h4>
  </div>
</div>